@font-face {
    font-family: SigmarOne;
    src: url(fonts/Sigmar_One/SigmarOne-Regular.ttf);
}

@font-face {
    font-family: Alef;
    src: url(fonts/Alef/Alef-Regular.ttf);
}
@font-face {
    font-family: Livvic;
    src: url(fonts/Livvic/Livvic-Regular.ttf);
}